<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Tin Tức | Giải Trí</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="library/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="image/icon/ico1.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/tintuc_giaitri.css">
</head>
<body>
	<div class="container">
		<div id="header">
			<div class="row m-0">
				<div id="banner" class="col-12">
				</div> <!-- End bg-head -->
				<nav class="col-12 navbar navbar-expand-lg navbar-light">
				  	<a class="navbar-brand" href="index.html"></a>
				  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">				    	<span class="fa fa-bars"></span>
				  	</button>
				  	<div class="collapse navbar-collapse" id="top-menu">
				    	<ul class="navbar-nav mr-auto">
				      		<li class="submenu nav-item dropdown">
				        		<a class="nav-link" href="#" id="submenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Xa phu <i class="fa fa-chevron-circle-right"></i>
				        		</a>
					        	<div class="dropdown-menu" aria-labelledby="submenu1">
					          		<a class="dropdown-item" href="posts.html">Account Sơn Trang</a>
					          		<a class="dropdown-item" href="item.html">Doanh Trại Item</a>
					       		</div>
				      		</li>
				      		<li class="nav-item dropdown submenu">
				        		<a class="nav-link" href="#" data-toggle="dropdown" id="submenu2" aria-haspopup="true" aria-expanded="false">
				        			Võ Lâm Mục <i class="fa fa-chevron-circle-right"></i></a>
				        		<div class="dropdown-menu" aria-labelledby="submenu2">
					          		<a class="dropdown-item" href="tintuc_giaitri.html">Tin tức chung</a>
					          		<a class="dropdown-item" href="#">Cao thủ thách đấu</a>
					          		<a class="dropdown-item" href="#">Giải trí tổng hợp</a>
					       		</div>
				      		</li>
					      	<li class="nav-item">
					        	<a class="nav-link" href="#">#</a>
					      	</li>
				    	</ul>
				  	</div> <!-- End menu top -->
				</nav>

			</div> <!-- End row -->
		</div> <!-- End header -->
		<div id="content">
			<a id="hiepkhach" href="javascript:void(0)" data-toggle="popover" data-content="Ta là kẻ vô danh." ></a>
			<div class="clearfix"></div>	
			<div class="row m-0">
				<div class="col col-12 col-md-4 col-lg-2 order-md-2 order-lg-1 content-left">
					<div class="row m-0">
						<div class="col-12 col-sm-6 col-md-12 col-lg-12 info-top">
							<div class="text-center name"><a href="#">Tiểu tử vô tình</a></div>
							<div class="avatar" style="background:url('image/girl4.jpg') center center no-repeat;background-size:cover;">
							</div>
							<div class="progress">
							  <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">650</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-8 col-lg-7 order-2 content-middle px-1">
					<div class="middle-top col-12">
						<div class="detail">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error animi beatae laborum facilis, minima delectus?</h3>
							<span>Đăng bởi: <a href="">Ken</a> - 10:05 16-09-2017<i class="fa fa-eye"> 200</i> <i class="fa fa-comments-o"> 23</i></span>
						</div>
					</div> <!-- End middle-top -->
					<div class="col-12 middle-bottom">
						<!-- chứa phần đuôi bg của bg trên -->
					</div>
				</div>
				<div class="col-12  col-md-8 col-lg-3 order-1 order-lg-3 content-right p-0">
					<div class="card hot">
						<div class="card-header text-center">Tin tức được quan tâm</div>
						<div id="scroll" class="card-body">
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, fugit?</a></p>
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, sunt.</a></p>
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, sapiente?</a></p>
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, rerum.</a></p>
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, sapiente?</a></p>
							<p><i class="fa fa-star"></i><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, rerum.</a></p>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- End content -->
		<div id="footer" style="margin:0">
			Copyright &copy; HTT
		</div>
	</div> <!-- End container -->




	<script src="js/jquery.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
	<script src="js/popper/popper.min.js"></script>
	<script src="js/bootstrap-js/bootstrap.min.js"></script>
	<script src="js/tintuc_giaitri.js"></script>
</body>
</html>