<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-css/bootstrap.min.css">
	<!-- <script src="css/bootstrap-css/bootstrap.min.css"></script> -->
	<link rel="stylesheet" type="text/css" href="js/bootstrap-js/bootstrap.min.js"></link>
	<script src="js/jquery.js"></script>

</head>
<body>
	<img src="image/oke.gif">
	<div class="row m-0">
		<div class="col-6  col-md-2 " style="border: 1px solid red">row 1</div>
		<div class="col-6 order-12 order-md-1 col-md-7 " style="border: 1px solid blue">row 2</div>
		<div class="col-12 order-1  order-md-12 col-md-3 " style="border: 1px solid yellow">row 3</div>
	</div>
	<div>
	<div>
	<a href="mailto:joe@example.com?subject=feedback" "email me">email me</a>		
	</div>
	</div>
	<form >
	  <label class="custom-control custom-checkbox">
		<input type="checkbox" class="custom-control-input" required>
		<label class="custom-control-indicator"></label>
		<span class="custom-control-description text-muted">Ta đã sẵn sàng phiêu bạt giang hồ.</span>
	</form>
	<div>
		
	</div>
	<div></div>
	<a href=""></a>

	<!-- <script src="js/jquery.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> -->
	<!-- <script src="js/popper/popper.min.js"></script>
	<script src="js/bootstrap-js/bootstrap.min.js"></script>
	<script src="js/my-style.js"></script> -->
</body>
</html>